body {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

#container  {
width: 1024px;
background-color: burlywood;
margin: 20px auto;
border: 4px solid black;
border-radius: 20px;
}

header {
    background-color: burlywood;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}

header img{
    width: 40%;
    display: block;
    margin: 0px auto;
    padding:  10px;

}
header h1 {
    font-size: 2.5em;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: burlywood;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: green;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: blue;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}

nav a:hover{
    background-color: linen;
    color: lightskyblue;
}

main {
    background-color: burlywood;
    margin: 0 20px 20px 20px auto;
    width: 800px auto;
    padding: 20px;
    border: 15px solid green;
}

main h2 {
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}

main img {
    width: 50%;
    display: block;
    margin:  20px auto;
    background-color: honeydew;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color: burlywood;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 40px 0;
    color: black;
    font-size: 1.5em;

}

.active {
    background-color: navy;
    color: lightgreen;
}

.pro_head {
    text-align: center;
    color: navy;
    font-size: 1.5e;
    font-family: 'Lato', sans-serif;
}
